<%- include('header'); -%>
<h2>This is about page</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos quis quia quo consequatur exercitationem aliquam laboriosam ab? Repellendus nisi, expedita asperiores quod animi maiores mollitia voluptatum corporis. Magnam, accusantium veniam?</p>
<%-include('footer')-%>